* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcd6;
    font-family: Helvetica, Arial, sans-serif;
}

.section-title {
    text-color: black;
    text-align: right;
    font-size: 28px;
    letter-spacing: 4px;
    margin: 0;
    padding-left: 200px;
    flex: 0 0 15%;
    border: 3px solid black:

}

header {
    background-color: rgb(0, 0, 0);
    padding: 20px 20px 20px 0px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header h1 {
    font-weight: bold;
    margin: 0;
    padding-left: 60px;
    font-size: 36px;
    background-color:rgb(0, 127, 127);
}

header h1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header a {
    text-decoration: none;
}
header nav {
    margin: 7px 0;  
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: rgb(0, 127, 127);
}

header nav ul li a:hover {
    background: rgb(0, 127, 127);
    border-radius: 15px;
    text-shadow: none;
    color: rgb(0, 0, 0);
  }
/*Header and navigation styling ends*/



/*This is the styling section for the Hero*/
.hero {
    background-image: url('../assets/images/hero.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 150px;
    align-items: flex-end;
}

/*This is the styling for the hero message content*/
.hero h2 {
    padding: 20px;
    background-color:  rgb(0, 127, 127, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 60px;
}




.row-1 {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 50px;
}
.row-1-item-1 {
    padding-left: 200px;
    flex-basis: 15%;
    min-height: 100%;
   
}
.row-1-item-2 {
    flex-basis:  85%;
    padding: 30px 15px;
    border-left: 5px solid black;
    height: 400px;
    
}

.row-3 {
    display: flex;
    gap: 1em;
    margin: 50px;
}
.row-3-item-1 {
    flex-basis: 15%;
    padding-left: 150px;
    min-height: 100%;
 
}
.row-3-item-2 {
    border-left: 5px solid black;
    flex-basis: 85%;
    height: 200px;
}

.row-3-item-2 nav {
    margin: 7px 0; 
}
.row-3-item-2 nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
    height: 150px;
}
.phone a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 15px;

}
.email a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
}
.github a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
}
.row-3-item-2 nav ul li a:hover {
    background: rgb(0, 127, 127);
    border-radius: 50px;
    text-shadow: none;
    color: rgb(0, 0, 0);
}



.row-2 {
    display: flex;
    width: 100%;
    align-items: center;
    /* 
    gap: 1em;
    margin: 50px;
    height: 1000px;
    border: 10px solid rgb(143, 3, 3);
    background-color: yellow;
    margin: 50px;
    
    justify-content: space-between; */

}

.row-2-item-1 {
    flex-basis: 15%;
    padding-left: 150px;
    background-color: blue;
    flex-wrap: wrap;
    min-height: 100%;
    

    
}

.row-2-item-2 {
    flex-basis: 70%;
    background-color: rgb(51, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid black;
    padding: 0px;
    margin: 0px;

}

.polariod {
    display: flex;
    flex-wrap: row;
    flex: 0 1 70%;
    max-width: 100%;
    object-fit: cover;
}
.image > img {
    object-fit: scale-down;
    max-height: 500px;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.image:hover {opacity: 0.7;}

.container {
    text-align: center;
    padding: 10px 20px;
}